<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&family=Young+Serif&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header class="container">
      <nav>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </nav>
    </header>
    <main class="container">
      <h1>Site Name</h1>
      <img src="images/monty-reading.png" alt="Monty PyDuck" />
      <img src="images/monty-multiple-screens.png" alt="Monty multitasking" />
    </main>
    <footer class="container">
      <p>&copy; 2023 Meri Kasprak</p>
    </footer>
  </body>
</html>
